header{
  font-size: 36px;
  color: orange;
}
ol, ul{
  color: black;
  font-size: 25px;
  list-style-type: none;
}
li{
  display: inline-block;
  margin: 10px;

}
a{
  color: orange;
  text-decoration: none;

  padding: 10px 15px;
  border: 1px soild black;
  border-radius: 5px;
}
a:hover{
  background-color: white;
  color: black;
  font-size: 30px;
  text-decoration: none;
}
body{
  background-image: url(https://img.esportnews.gg/pictures/content/30/30006.jpg)
}

.post{
  background-color: #4DE074;
  border-color: white;
  color: black;
  border: 2px;
  border-radius: 10px;
  padding: 10px 20px;
}

.intro{
  background-color: #4DE074;
  border-color: white;
  color: black;
  border: 2px;
  border-radius: 10px;
  padding: 10px 20px;
}
